/* MAIN __________________________________ */
main {
  /* overflow: scroll; */ /*NOTE: if IN, the smooth scroll won't work*/

  justify-content: center;
}

/* HERO SECTION ______________________ */
.hero {
  background-color: var(--primary-darker);
  background-image: url(assets/img/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  background-size: 950px;

  height: 600px;
  color: #fff;

  display: grid;
  place-items: center;
}

.hero .title {
  display: grid;
  justify-items: right;
}

.hero small {
  font-size: 1.5rem;
}

/* ABOUT US SECTION_______________________  */
.about-us {
  display: grid;
  grid-template:
  ". h3 ." auto
  ". wrapper ." 1fr/
  1fr 8fr 1fr;
}

.about-us h3 {
  grid-area: h3;
}

.about-us-wrapper {
  grid-area: wrapper;
  display: grid;
  grid-auto-flow: column;
}

.about-us-wrapper img{
  width: 800px;
}

.about-us-text {
  margin: 80px 40px;
}

.about-us-text p {
  padding: 10px 0;
}

/* PRODUCTS SECTION__________________________________  */
.products {
  /* background-color: rgb(54, 82, 224); */
  display: grid;
  grid-template: 
  "prod-title" auto
  "products-wrapper" 1fr/
  auto;
  place-items: center;
}

.products h3 {
  /* background-color: yellow; */

  grid-area: prod-title;
  /* padding-top: 20px; */
}

.products-wrapper {
  /* background-color: rgb(0, 255, 255); */

  grid-area: products-wrapper;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  margin: 0 20px;
}

.products .product-box {
  display: grid;
  grid-template-rows: 500px 50px;
}

.products .product-box img {
  width: 450px;
  height: 500px;
}  

.product-box a {
  justify-self: center;
  /* padding-top: 20px; */
}

.product-box:hover h4 {
  color: var(--primary-dark);
}

.product-box h4 {
  padding-top: 10px;
}


/* TESTIMONIAL___________________________________  */
.testimonials {
  height: 200px;
  background-color: rgba(240, 170, 240, 0.705);
}

/* contact us- subscription___________________________________  */
.contact-us {
  height: 200px;
  background-color: rgba(172, 252, 252, 0.664);

}


/* back to top button _______________________________*/
.back-to-top-link {
  position: sticky;
  transform: translateX(60px);
  
  border: 3px solid var(--primary);
  padding: 0.57rem 0.625rem;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0.1rem var(--primary-dark), inset 0 0 0 0.2rem #ffffff, 0 4px 12px #00000022;
  
  background-color: var(--primary);
  
  text-transform: uppercase;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 800;
  color: var(--primary-darker);
  
  z-index: 100;
  bottom: 40px;
  left: 85vw;
  height: 50px;
  width: 50px;

  cursor: pointer;
}

.back-to-top-link:hover { 
  background-color: var(--primary-lighter);
  color: var(--primary-dark);
  }


