.home-page {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(6, auto);
  gap: 30px;
  scroll-behavior: smooth;
}

/* HEADER___________________________  */
header {
  margin: 0 30px;
  font-size: 1.2rem;
  
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  display: grid;
  justify-items: center;
}

header .logo img {
  overflow: hidden;
  width: 230px;
  /* border: 1px solid blue; */
}

header nav {
  display: grid;
  align-content: center;
}

header ul {
  margin: 0 100px;

  display: grid;
  grid-auto-flow: column;
}

header li {
  height: 40px; /*so they won't move when hover*/
  padding: 10px 0;  /*so they won't move when hover*/
  place-items: center;
  display: grid;
  
  /* background-color: rgb(243, 225, 167); */
}

header li a {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
  display: grid;
  justify-content: center;
}

header li:hover a {
  color: var(--primary-dark);
}

header li:hover div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.current-page  div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


/* HERO SECTION ______________________ */
.hero {
  background-color: var(--primary-darker);
  background-image: url(assets/img/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  background-size: 950px;

  height: 600px;
  color: #fff;

  display: grid;
  place-items: center;
}

.hero .title {
  display: grid;
  justify-items: right;
}

.hero small {
  font-size: 1.5rem;
}

/* ABOUT US SECTION_______________________  */
.about-us {
  display: grid;
  grid-template:
  ". h3 ." auto
  ". wrapper ." 1fr/
  1fr 8fr 1fr;
}

.about-us h3 {
  grid-area: h3;
}

.about-us-wrapper {
  grid-area: wrapper;
  display: grid;
  grid-auto-flow: column;
}

.about-us-wrapper img{
  width: 800px;
}

.about-us-text {
  margin: 80px 40px;
}

.about-us-text p {
  padding: 10px 0;
}

/* PRODUCTS SECTION__________________________________  */
.products {
  /* background-color: rgb(54, 82, 224); */

  display: grid;
  grid-template: 
  "prod-title" auto
  "products-wrapper" auto/
  auto;
  place-items: center;
}

.products h3 {
  grid-area: prod-title;
}

.products-wrapper {
  /* background-color: rgb(0, 255, 255); */

  grid-area: products-wrapper;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.products .product-box {
  display: grid;
  grid-template-rows: auto 50px;
}

.products .product-box img {
  width: 400px;
}  

.product-box h4 {
  justify-self: center;
  padding-top: 20px;
}

.table1 {
  /* background-color: rgb(141, 71, 255); */
}

.table2 {
  /* background-color: rgb(255, 71, 240); */
}

.table3 {
  /* background-color: rgba(250, 164, 228, 0.966); */
}

