* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #EDDCA4;
  --primary-dark: #c09711;
  --primary-darker: #917249;
  --primary-lighter: #eddca41e;


  /* --primary-dark: #e9c54d; */
  --secondary: #C92828;
  --secondary-light: #fb1f79;

  scroll-behavior: smooth;
}

body {
  display: grid;
  margin: 5px;
  font-family: sans-serif;
  background-color: var(--primary-lighter);
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  color: var(--primary);
  display: grid;
  justify-content: center;
}

li:hover a {
  color: var(--primary-light);
}

h1 {
  font-size: 3rem;
}

h2 {
  color: var(--primary-dark);
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  margin-bottom: 30px;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}


/* back to top button _______________________________*/
.back-to-top-link {
  position: sticky;
  transform: translateX(60px);
  
  border: 3px solid var(--primary);
  padding: 0.57rem 0.625rem;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0.1rem var(--primary-dark), inset 0 0 0 0.2rem #ffffff, 0 4px 12px #00000022;
  
  background-color: var(--primary);
  
  text-transform: uppercase;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 800;
  color: var(--primary-darker);
  
  z-index: 100;
  bottom: 40px;
  left: 85vw;
  /* display: block; */
  height: 50px;
  width: 50px;

  cursor: pointer;
}

/* HERADER_____________ */
header {
  margin: 15px 30px;
  font-size: 1.2rem;
  
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  display: grid;
  /* justify-items: center; */
}

header .logo img {
  overflow: hidden;
  width: 300px;
  /* border: 1px solid blue; */
}

header nav {
  display: grid;
  align-content: center;
}

header ul {
  margin: 0 100px;

  display: grid;
  grid-auto-flow: column;
}

header li {
  height: 40px; /*so they won't move when hover*/
  padding: 10px 0;  /*so they won't move when hover*/
  place-items: center;
  display: grid;
  
  /* background-color: rgb(243, 225, 167); */
}

header li a {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
  display: grid;
  justify-content: center;
}

header li:hover a {
  color: var(--primary-dark);
}

header li:hover div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.current-page  div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

