* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #EDDCA4;
  --primary-dark: #c09711;
  --primary-darker: #917249;
  --primary-lighter: #eddca41e;
  --secondary: #C92828;
  --secondary-light: #fb1f79;

  scroll-behavior: smooth;
}

body {
  height: 100vh;

  margin: 5px;
  background-color: var(--primary-lighter);
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto /
    1fr;
  
  gap: 5px;

  scroll-behavior: smooth;
}

/* BASE STYLING  */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2,
h4 {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  color: var(--primary-darker);

  margin: 40px 20px;
  font-size: 2rem;
}

h5 {
  color: var(--primary-darker);
  font-size: 1rem;
}

h6 {
  color: var(--primary-darker);
  font-size: 0.8rem;
}


/* HEADER_____________ */
header {
  grid-area: header;
  /* background-color: #C92828; */
  margin: 15px 30px;
  font-size: 1.2rem;
  
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  display: grid;
  /* justify-items: center; */
}

header nav {
  display: grid;
  align-content: center;
}

header ul {
  margin: 0 100px;

  display: grid;
  grid-auto-flow: column;
}

header li {
  height: 40px; /*so they won't move when hover*/
  padding: 10px 0;  /*so they won't move when hover*/
  place-items: center;
  display: grid;
}

header li a {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
  display: grid;
  justify-content: center;
}

header li:hover a {
  color: var(--primary-dark);
}

header li:hover div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.current-page h2 {
  color: var(--primary-dark);
}

.current-page  div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* DATA re:scollbar  */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

/* MAIN______________  */
main {
  grid-area: main;
}


/* FOOTER_______  */
footer {
  grid-area: footer;
  margin: 5px;
  display: grid;
  justify-content: center;
}

footer img:hover {
}

/* UTILITY CLASSES */

