* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html {
  --primary: #EDDCA4;
  --primary-dark: #c09711;
  --primary-darker: #917249;
  --primary-lighter: #eddca41e;
  --primary-light-line: #eddca45d;
  --secondary: #C92828;
  --secondary-light: #fb1f79;

  scroll-behavior: smooth;
}

body {
  height: 100vh;

  margin: 5px;
  background-color: var(--primary-lighter);
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto /
    1fr;
  
  gap: 5px;
}

/* BASE STYLING  */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2,
h4 {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  color: var(--primary-darker);

  margin: 40px 20px;
  font-size: 2rem;
}

h5 {
  color: var(--primary-darker);
  font-size: 1rem;
}

h6 {
  color: var(--primary-darker);
  font-size: 0.8rem;
}


/* HEADER_____________ */
header {
  grid-area: header;
  /* background-color: #C92828; */
  margin: 15px 30px;
  font-size: 1.2rem;
  
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  display: grid;
  /* justify-items: center; */
}

header nav {
  display: grid;
  align-content: center;
}

header ul {
  margin: 0 100px;

  display: grid;
  grid-auto-flow: column;
}

header li {
  height: 40px; /*so they won't move when hover*/
  padding: 10px 0;  /*so they won't move when hover*/
  place-items: center;
  display: grid;
}

header li a {
  color: var(--primary-darker);
  font-size: 1.3rem;
  font-weight: 700;
  display: grid;
  justify-content: center;
}

header li:hover a {
  color: var(--primary-dark);
}

header li:hover svg {
  stroke: var(--primary-dark);
}

header li:hover div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.current-page h2 {
  color: var(--primary-dark);
}

.current-page svg {
  stroke: var(--primary-dark);
}

.current-page  div {
  background-color: var(--primary-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* DATA re:scollbar  */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

/* MAIN______________  */
main {
  grid-area: main;
}


/* FOOTER_______  */
footer {
  grid-area: footer;
  padding: 8px;
  display: grid;
  justify-content: center;
}

footer .fb svg:hover {
  stroke: rgb(74, 123, 212);
}

footer .ig svg:hover {
  stroke: rgb(180, 21, 180);
}


/* JOIN the FAMILy - CONTACT US subscription___________________________________  */
.contact-us {
  /* background-color: rgba(172, 252, 252, 0.664); */
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

.form {
  background-color: rgba(245, 222, 179, 0.178);
  display: grid;
  place
  margin: 50px;
  border: 4px solid var(--primary-dark);
  border-radius: 5px;
  padding: 20px;
}

.form .top {
  display: grid;
  gap: 40px;
}

.margin-b {
  margin-bottom: 20px;
}

.contact-us .aspect {
  color: var(--primary-darker);
  font-size: 0.9rem;
  font-weight: 600;
}

/* .form .button stays here, after .aspect, so that the writing is #fff */
.form .button {
  margin-left: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(134, 53, 6, 0.35) 0px 5px 15px;
  background-color: var(--primary-dark);
  color: #fff;
}

.form .button:hover {
  color: #fff;
  transform: scale(1.1);
  /* border: 1px solid pink; */
}

/* ONLY-thank you for SHOPPING page ________  */
.thankyou-shopping h2 {
  justify-self: center;
  font-size: 3rem;
  padding-top: 100px;
}

.thankyou-shopping span {
  color: rgb(187, 129, 21);
  padding-top: 10px;
}

.thankyou-shopping a,
.basket a,
.contact-us a {
  text-decoration-line: underline;
  color: var(--primary-dark);
}

/* BASKET ICON - ALL PAGES _____________ */
.basket-number {
  color: var(--primary-darker);
  font-size: 1rem;
  font-weight: 900;
}


/* back to top button _______________________________*/
.back-to-top-link {
  position: sticky;
  transform: translateX(60px);
  
  border: 3px solid var(--primary);
  padding: 0.57rem 0.625rem;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0.1rem var(--primary-dark), inset 0 0 0 0.2rem #ffffff, 0 4px 12px #00000022;
  
  background-color: var(--primary);
  
  text-transform: uppercase;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 800;
  color: var(--primary-darker);
  
  z-index: 100;
  bottom: 40px;
  left: 85vw;
  height: 50px;
  width: 50px;

  cursor: pointer;
}

.back-to-top-link:hover { 
  background-color: var(--primary-lighter);
  color: var(--primary-dark);
  }



