

/* MAIN________________________________________________  */
main {
  /* background-color: #eee34bad; */

  /* display: grid; */
  overflow: scroll;
}

/* main - nav __________________________________________  */
main nav ul {
  /* background-color: coral; */
  padding: 20px 0;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;

  gap: 50px;
  border-bottom: 1px solid var(--primary-light-line);
  border-top: 1px solid var(--primary-light-line);
}

main nav ul li a {
  color: var(--primary-darker);
  font-weight: 600;
}

main ul li a:hover {
  color: var(--primary-dark);
}

/* Main - articles section_______________________________ */

.card img {
  width: 100%;
  height: 100%;
}

.article {
  display: grid;
  grid-template-rows: auto 1fr;
}

.article h4 {
  justify-self: center;
  font-size: 2rem;
  padding-top: 10px;
}

.article .cards {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: start;
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: 350px 1fr;

  border: solid 0.8px var(--primary-light-line);
  border-radius: 5px;

  /* box-shadow: 1px 1px 1px 0 var(--primary-light-line); */
}

.card img {
  object-fit: cover;
}

.card .text {
  padding: 10px;
  justify-self: center;
}

